html {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  background: #12b3eb;
}

.project-list {
  background: #1a2d3b;
  color: white;
  padding: 2rem;
}

.project-list .title {
  padding-bottom: 0.5rem;
  border-bottom: medium solid white;
  margin: 0 0 1rem 0;
}

.project-list .list {
  margin: 0;
  padding: 0;
  list-style: none;
  /* https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.project-list .list .list-item {
  font-size: 1.125rem;
  margin-top: 0.75rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0 0.5rem 0 0;
  border-radius: 9999px;
  /* https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c */
  /* https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134 */
  /* mouse, touch pad */
}

.project-list .list .list-item::before {
  content: '';
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  right: 0rem;
  bottom: 0;
  left: 0;
  background: #14a8e0;
  border-radius: 9999px;
  -webkit-transform: translateX(-100.1%);
          transform: translateX(-100.1%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.project-list .list .list-item:active:before {
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (hover: hover) and (pointer: fine) {
  .project-list .list .list-item:hover:before {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.project-list .list .list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  position: relative;
}

.project-list .list .list-item a::before {
  content: '';
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 2px solid #14a8e0;
  margin-right: 0.25rem;
  -webkit-transition: background-color 0.05s linear;
  transition: background-color 0.05s linear;
}

.project-list .list .list-item a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
  -webkit-transform: rotateZ(45deg) translate(-36%, -30%);
          transform: rotateZ(45deg) translate(-36%, -30%);
  border-top: 2px solid white;
  border-right: 2px solid white;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.project-list .list .list-item a:active::before {
  background: #14a8e0;
}

@media (hover: hover) and (pointer: fine) {
  .project-list .list .list-item a::before {
    -webkit-transition: background-color 0.125s linear;
    transition: background-color 0.125s linear;
  }
  .project-list .list .list-item a:hover::before {
    background: #14a8e0;
  }
  .project-list .list .list-item a:hover::after {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-transform: rotateZ(45deg) translate(15%, -90%);
            transform: rotateZ(45deg) translate(15%, -90%);
  }
}

.author {
  color: white;
}

.author a {
  color: white;
}
/*# sourceMappingURL=style.css.map */