body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  /* https://dev.to/jasperreddin/disabling-viewport-zoom-on-ios-14-web-browsers-l13 */
  touch-action: pan-y;
  background: #12b3eb;
}

.project-list {
  background: #1a2d3b;
  color: white;
  padding: 2rem;

  .title {
    padding-bottom: 0.5rem;
    border-bottom: medium solid white;
    margin: 0 0 1rem 0;
  }

  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    /* https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile */
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    .list-item {
      font-size: 1.125rem;
      margin-top: 0.75rem;
      position: relative;
      z-index: 1;
      overflow: hidden;
      padding: 0 0.5rem 0 0;
      border-radius: 9999px;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        top: 0;
        right: 0rem;
        bottom: 0;
        left: 0;
        background: #14a8e0;
        border-radius: 9999px;
        transform: translateX(-100.1%);
        transition: transform 0.5s ease-in;
      }

      &:active:before {
        transition-duration: 0.05s;
        transform: translateX(0);
      }

      @media(hover: hover) and (pointer: fine) {
        &:hover:before {
          transition-delay: 0.1s;
          transform: translateX(0);
        }
      }

      a {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        position: relative;
      }

      a::before {
        content: '';
        display: inline-block;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        border: 2px solid #14a8e0;
        margin-right: 0.25rem;
        transition: background-color 0.05s linear;
      }

      a::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0.5rem;
        width: 0.75rem;
        height: 0.75rem;
        transform: rotateZ(45deg) translate(-36%, -30%);
        border-top: 2px solid white;
        border-right: 2px solid white;
        transition: transform 0.25s ease;
      }

      a:active::before {
        background: #14a8e0;
      }

      /* https://medium.com/@mezoistvan/finally-a-css-only-solution-to-hover-on-touchscreens-c498af39c31c */
      /* https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134 */
      /* mouse, touch pad */
      @media(hover: hover) and (pointer: fine) {
        a::before {
          transition: background-color 0.125s linear;
        }

        a:hover::before {
          background: #14a8e0;
        }

        a:hover::after {
          transition-delay: 0.1s;
          transform: rotateZ(45deg) translate(15%, -90%)
        }
      }
    }
  }
}

.author {
  color: white;

  a {
    color: white;
  }
}
