@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Variaveis */

$navbar-height: 4.5rem;
$navbar-desktop-height: 6rem;

/* Resets */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

// html {
  // background-color: #A29BFE;
// }

body {
  font-family: 'Inter', sans-serif;
}

/* Classes Utilitarias */
// .disable-dbl-tap-zoom {
//   touch-action: manipulation;
// }

.hidden {
  display: none;
}

// .invisible {
//   visibility: hidden;
// }

// .opacity-0 {
//   opacity: 0;
// }

.overflow-hidden {
  overflow: hidden;
}

/* Classes dos componentes */

.btn {
  border: none;
  color: #ffffff;
  background: #0E7490;
  cursor: pointer;

  &--badge {
    padding: 0.5rem 1rem;
    font-style: normal;
    font-weight: 800;
    font-size: 0.75rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    border-radius: 9999px;
  }
}

.header {
  position: fixed;
  z-index: 10;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  height: $navbar-height;
  padding: 0rem 0.9375rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #ffffff;

  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.16),
    0px 4px 8px rgba(0, 0, 0, 0.08)
  ;

  .header__icon-menu {
    &:active path {
      stroke: #56CCF2;
    }
  }

  @media (min-width: 768px) {
    height: $navbar-desktop-height;

    .header__icon-menu {
      display: none;
    }
  }
}

main {
  margin-top: $navbar-height;

  @media (min-width: 768px) {
    margin-top: $navbar-desktop-height;
  }
}

.navigation-drawer {
  // height: 100vh;
  // height: -webkit-fill-available;
  // height: fill-available;
  position: fixed;
  top: $navbar-height;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background: rgba(0, 0, 0, 0.6);

  @media (min-width: 768px) {
    display: none;
  }

  .navigation-drawer__content {
    width: 82%;
    height: 100%;
    margin-left: auto;
    background: #ffffff;
    display: flex;
    flex-direction: column;

    .navigation-drawer__links {
      padding: 1.875rem 0.9375rem 0rem 0.9375rem;
      flex: 2 1 0%;

      a {
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .navigation-drawer__footer {
      background-color: #E0E0E0;
      background-image: url(img/wave1.svg);
      background-position-y: -1%;
      background-repeat: no-repeat;
      background-size: 101%;
      flex: 1;
      padding: 6rem 0.9375rem 0rem 0.9375rem;

      a {
        color: #0E7490;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        box-shadow: inset 0rem -0.375rem 0rem rgba(165, 243, 252, 0.4);
      }
    }
  }

}

.section-home {
  background-image: url(img/shape1.svg), url(img/shape2.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 15%, 50%;

  @media (min-width: 768px) {
    background-size: auto;
  }

  .content {
    padding: 3rem 0.9375rem 0rem 0.9375rem;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 1200px;
      padding-top: 5rem;
      margin: 0rem auto;
    }

    h1,
    h2,
    h3,
    p {
      color: #2D3436;
    }

    h1 {
      font-style: normal;
      font-size: 4rem;

      @media (min-width: 768px) {
        text-align: center;
        font-weight: 800;
        font-size: 6rem;
      }
    }

    h2 {
      font-style: normal;
      font-size: 1.5rem;

      @media (min-width: 768px) {
        text-align: center;
        font-weight: 900;
        font-size: 4rem;
      }
    }
  }
}

.cookies-consent-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.125rem 1.5rem;
  background: rgba(0, 0, 0, 0.8);
  touch-action: manipulation;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    color: #ffffff;
    text-align: center;

    a {
      color: #ffffff;
      text-decoration: underline #ffffff;
    }
  }

  .cookies-consent-bar__btn {
    display: block;
    margin: 0.5rem auto 0 auto;

    @media (min-width: 768px) {
      margin-top: 1.25rem;
    }
  }
}
